{
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": true,
    "window": true,
    "jest": true,
    "describe": true,
    "it": true,
    "test": true,
    "beforeEach": true,
    "afterAll": true,
    "expect": true
  },
  "env": {
    "jest": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-tabs": 0,
    "indent": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": 0,
    "global-require": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-indent-props": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}